[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
[submodule "ext/cglm"]
	path = ext/cglm
	url = https://github.com/recp/cglm
[submodule "ext/cgltf"]
	path = ext/cgltf
	url = https://github.com/jkuhlmann/cgltf
